<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}
{{#ic-autocomplete
  on-input="filterStates"
  on-select="selectState"
  placeholder="Pick a state"
}}

    {{#each filteredStates}}
      {{#ic-autocomplete-option value=id label=name}}
        {{name}}
      {{/ic-autocomplete-option}}
    {{else}}
      <div>No results</div>
    {{/each}}
{{/ic-autocomplete}}